<footer class="container-fluid">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-10 mx-auto py-5 px-3">
                <div class="row mx-0">
                    <div class="col-sm-6 col-md-3">
                        <div class="headingfooter">Company</div>
                        <ul class="list-unstyled">
                            <li><a href="">COMPANY</a></li>
                            <li><a href="">All services</a></li>
                            <li><a href="">Industries</a></li>
                            <li><a href="">Projects
                            <li><a href="">Library</a></li>
                            <li><a href=""></a>Blog</li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Why us</a></li>
                            <li><a href="">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="headingfooter">Service</div>
                        <ul class="list-unstyled">
                            <li><a href="">Mobile Application Development</a></li>
                            <li><a href="">IOT Application Development</a></li>
                            <li><a href="">Software Product Development</a></li>
                            <li><a href="">POS Development Solution</a></li>
                            <li><a href="">Fullstack Development</a></li>
                            <li><a href="">Custom Web Development</a></li>
                            <li><a href="">Mobile App Development Cost</a></li>
                            <li><a href="">Mobile App Development Company USA</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="headingfooter">INDUSTRIES</div>
                        <ul class="list-unstyled">
                            <li><a href="">Real Estate</a></li>
                            <li><a href="">Healthcare</a></li>
                            <li><a href="">Event & Tickets</a></li>
                            <li><a href="">Travel & Tours
                            <li><a href="">Ecommerce & Retai</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="headingfooter">Conatct</div>
                        <ul class="list-unstyled">
                            <li><a href=""></a>Sales : info@blitzinfosystem.com</li>
                            <li><a href="">Career With Us : hr@blitzinfosystem.com</a></li>
                            <li><a href="">Sales : +91 8764245892 </a></li>
                            <li><a href="">HR : +91 8764245892 </a></li>
                            <li>HQ : 2/43 Pratap Nager , Disk-Beawar(Raj.)India ,
                                Rajasthan - INDIA 302017</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>